{% extends "contacts/base.html.twig" %}

{% block content %}
Delete <b> {{ contact.firstName }} {{ contact.lastName }}</b> ?<br>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ url('home') }}"><<< Back</a>
{% endblock %}
